{% extends 'account/dashboard.html' %}

<head>
    <link rel="stylesheet" type="text/css" href="static/_css/estilo.css"/>
    <link rel="stylesheet" type="text/css" href="static/_css/form.css">
</head>

{% block dashboard %}
<div class="container">
    <div class="card">
        <div class="container">
            <h1>Perfil do Usuário</h1>
            <div class="">
                <p><h5>Email: {{ object.user.email }} / {{ object.user.pessoa }}</h5></p>
                <hr>
                <fieldset id='pessoais'><legend>Dados Pessoais</legend>
                    <hr>
                    <p>
                    {% if object.user.pessoa == 'PF' %}
                    <h5>Nome: {{ object.nome }}</h5>
                    <h5>CPF: {{ object.cpf_cnpj }}</h5>
                    {% else %}
                    <h5>Razão Social: {{ object.nome }}</h5>
                    <h5>CNPJ: {{ object.cpf_cnpj }}</h5>
                    {% endif %}
                    <h5>Celular: {{ object.celular }}</h5></p>
                </fieldset>
                <hr>
                <fieldset id='endereco'><legend>Endereço</legend><hr>
                    <p>
                    <h5>Cep: {{ object.cep }}</h5>
                    <h5>Av.: {{ object.endereco }}</h5>
                    <h5>Nº: {{ object.numero }}</h5>
                    <h5>Compl.: --- </h5></p>
                    <p><h5>Cidade: {{ object.cidade }} / {{ object.estado }}</p></h5> 
                </fieldset>
                <hr>
                <fieldset id='sit_cadastral'><legend>Situação Cadastral</legend><hr>
                    <p>
                    <h5>{{ object.situacao }} <br> 
                    Última alteração: {{ object.atualizadoem|date }}</h5></p><br> 
                </fieldset>
            <a href="{% url 'usuario:editar_perfil' request.user.id%}" class='btn btn-primary'>Editar</a>
        </div>

    </div>
    <br>
</div>
{% endblock dashboard %}
