{% extends 'base.html' %}


{% block title %}Perfil{% endblock title %}

{% block content %}

<div class="container justify-content-center" style='margin-top:2px'>
    <div class="card">
        <div class="card-header">
            <h1>Usuários cadastrados</h1>
        </div>
    </div>
    <br>

    {% for user in object %}
    <div class="card">
        <div class="card-body">
            <h3 class="title">Email: <a href="{% url 'usuario:editar_usuarios_admin' user.pk %}"> {{ user.email }}</a></h3>
            <h6>Tipo:{{ user.pessoa }} <br>
                Registrado em: {{ user.data_registro }} <br>
                Usuário ativo: {{ user.is_active }} 
            </a></h6>
        </div>
    </div>
    <br>
    {% endfor %}

</div>


{% endblock content %}