{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Entrar{% endblock %}

{% block content %}

<div class="conteiner-fluid">
    <div class="container">
        <div class="card">
            <div class="col-md-12">
            <h2 class="font-weight-bold mt-3">Acesso</h2>
            <hr>

            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="btn btn-primary " type="submit">Entrar</button>
            </form>
            <br>
            <div>
                <a href="{% url 'account_reset_password' %}">Esqueceu a senha?</a>
            </div>
            <br>
            </div>
        </div>
    </div>
</div>

{% endblock %}



