{% extends "account/dashboard.html" %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block dashboard %}

<div class="container" style='margin-top:2px'>
    <div class="card">
        <div class="card-header">
            <div class="container">
            <h4>{% trans "Change Password" %}</h4>
            <hr>
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}
                {{ form|crispy }}
                <div>
                <button type="submit" class="btn btn-primary" name="action">Salvar</button>                    
                </div>
            </form>
            </div>
        </div>
    </div>
</div>
{% endblock dashboard %}

