{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title %}Senha{% endblock %}

{% block content %}

<div class="conteiner-fluid">
    <div class="container">
        <div class="card">
            <div class="col-md-12">
			<h2 class="font-weight-bold mt-3">Redefinir Senha</h2>
			<hr>
			<p>Esqueceu a senha? Insira seu email abaixo e siga as instruções que enviadas para ele.</p>
			<form method="POST">
				{% csrf_token %}
				{{ password_reset_form|crispy }}
				<button class="btn btn-primary" type="submit">Enviar email</button>
			</form>
			<br>
			</div>
		</div>
	</div>
</div>

{% endblock %}

