<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>{% block title %}{% endblock %}</title>

    <style>
        .footer {
            background: #212529;
            color: #fff;
            text-align: center;
            padding: 1em;
            font-size: 80%;
            margin-top: 140px;
        }
    </style>
</head>

<header>
    <nav class="navbar navbar-expand navbar-dark mb-3" style="background-color:#212529" >
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">Uai - Ads</a>
            <ul class="navbar-nav" style="text-align:right;">
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuario:dashboard' %}">DashBoard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/">Admin</a>
                </li>
                {% if user.is_superuser %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'usuario:listar_usuarios_admin' %}">Users</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_logout' %}">Sair</a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_login' %}">Entrar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'account_signup' %}">Cadastrar</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        {% if messages %}
        Messages:
        <ul>
            {% for message in messages %}
            <h4>{{message}}</h4>
            {% endfor %}
        </ul>
        {% endif %}
    </div>


    {% block content %}
    {% endblock content %}

    <div class="footer">
        Página de Registro, Login, Cadastro de Perfil entre outras usabilidades!
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <br>
</body>

</html>