@charset "UTF-8";

div#tv-radio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url(../_imagens/radio-tv.png);
}

audio#musica {
	display: block;
	position: relative;
	left: 575px;
	top: 490px;
	width: 300px;
}

iframe#filme {
	display: block;
	position: relative;
	height: 315px;
	left: 80px;
	top: 30px;
	width: 450px;
}

video#filme-index1 {
	width: 490px;
	padding-bottom: 5px;
	margin: auto;
}

video#filme-index2 {
	width: 450px;
	padding: 5px 0px 5px 0px;
	margin: auto;
}
